@font-face {
    font-family: Sahel VF;
    src: url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v3.4.0/dist/Sahel-VF.woff2') format('woff2');
}

:root {
    --text-color: #ffffff;
    --text-color-negative: #000000;
    --text-color-low: color-mix(in oklab, var(--text-color) 100%, var(--text-color-negative) 75%);
    --text-color-mid: color-mix(in oklab, var(--text-color) 100%, var(--text-color-negative) 50%);

    --theme-font: "Red Hat Display", "Noto Sans JP", Sahel VF, "Noto Color Emoji", serif;
    --theme-color1: #ff9dbe;
    --theme-color1-light: #febcd3;
    --theme-color1-container: #4e3442;
    --theme-color1-container-active: #d8709386;
    --theme-color1-container-text: #ffffff;

    --md-icon-font: 'Material Symbols Rounded';
    --md-sys-color-primary: var(--theme-color1);
    --md-sys-color-secondary-container: color-mix(in oklab, #FFFFFF 90%, var(--md-sys-color-primary) 50%);
    --md-sys-color-surface-container-highest: color-mix(in oklab, #FFFFFF 90%, var(--md-sys-color-primary) 25%);
    --md-sys-color-on-primary: #000000;
}
::-moz-selection { /* Code for Firefox */
    color: var(--text-color-negative);
    background: var( --theme-color1);  
  }
  
  ::selection {
    color: var(--text-color-negative);
    background: var( --theme-color1);  
  }


left-nav-rail {
    background: var(--theme-color1-container);
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    z-index: 8;
    box-sizing: border-box;
}
.nav-rail-content {
    display: flex;
    flex-direction: column;
    width: 96px;
    padding-top: 24px;
}

.navbut{
    width: 80px;
    margin: -2px auto 14px;
    padding: 2px;
}
.navbut .navicon{
    font-family: 'Material Symbols Rounded';
    font-variation-settings: inherit;
	font-variation-settings: 'FILL' 0, 'wght' 400, "opsz" 24;
    opacity: 0.8;
}
.navbut:hover .navicon {
    font-variation-settings: 'FILL' 1, "wght" 600, "opsz" 24;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
}
.navbut .navicon.active{
    color: var(--theme-color1-light);
    font-variation-settings: "FILL" 1, "wght" 400, "opsz" 24;
    background: var(--theme-color1-container-active);
    opacity: 1;
}
.navbut:hover .navicon.active{
    font-variation-settings: "FILL" 1, "wght" 600, "opsz" 24;
    background: color-mix(in oklab, var(--theme-color1-container-active) 90%, #ffffff 7%);
    opacity: 1;
}
.navbut:hover .label{
    font-variation-settings: "wght" 700, "GRAD" 125;
    opacity: 1;
}
.navbut .label.active{
    font-variation-settings: "wght" 800, "GRAD" 125;
    opacity: 1;
}

.navbut .label{
    font-size: 14px;
    transition: font-variation-settings .2s cubic-bezier(.2,0,0,1);
    font-variation-settings: 'wght' 400, "opsz" 17;
    margin-bottom: 4px;
    font-family: var(--theme-font), serif;
    text-align: center;
    opacity: 0.8;
}

@media screen and (max-width: 640px) {
    left-nav-rail {
        flex-direction: row;
        height: auto;
        bottom: 0;
        height: 80px;
    }
    .nav-rail-content {
        flex-direction: row;
        width: 100vw;
        margin-top: 0;
        padding-top: 12px;
        padding-bottom: 16px;
    }
    .navbut {
        margin-right: auto;
        margin-left: auto;
    }
}   

.navicon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 32px;
    margin-right: auto;
    margin-bottom: 4px;
    margin-left: auto;
    transition: font-variation-settings .2s cubic-bezier(.2,0,0,1);
    font-variation-settings: "wght" 400, "opsz" 24;
    font-size: 24px;
    transition: font-variation-settings .2s cubic-bezier(.2,0,0,1);
    border-radius: 16px;
}
.navicon::before{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scaleX(.32);
    transition-duration: .2s;
    transition-property: transform, opacity;
    transition-timing-function: linear;
    border-radius: 100px;
    content: "";
    z-index: -1;
}

body {
    background-color: rgb(44, 35, 38);
    font-family: var(--theme-font), serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--theme-color1-container-text);
    margin: 0;
}

a {
    color: var(--theme-color1-container-text);
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    font-variation-settings: "GRAD"0, "opsz"17;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 4px;
    transition: font-variation-settings .2s cubic-bezier(.2, 0, 0, 1);
    text-align: center;
    font: inherit;
    vertical-align: baseline;
}

b {
    font-variation-settings: 'wght' 650;
    font-weight: 650;
}

t {
    font-size: 40px;
    font-variation-settings: 'wght' 300;
    font-weight: 300;
    text-align: left;
    white-space: pre-line;
    line-height: 1.1em;
    display: inline-block;
    unicode-bidi: isolate;
} 
t.s {
    font-size: 30px;
}
t .l {
    font-size: 44px;
}
t tsub {
    text-align: justify;
    font-size: 20px;
    font-variation-settings: 'wght' 400;
    font-weight: 400;
    color: var(--text-color-mid);
}

sep {
    height: 10px;
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    box-sizing: border-box;
    flex-grow: 1;
    flex-direction: row;
    height: 100vh;
    margin-left: 96px;
    padding: 20px 20px 0 20px;
    /* background: url("./img/raven-default1.png") no-repeat local content-box left bottom;
    background-size: contain; */
}
.content-container.rtl {
    justify-content: right;
}
@media screen and (max-width: 640px) {
    .content-container{
        height: calc(100vh - 80px);
        margin-left: 0;
    }
    .content-container.hasarticle {
        overflow: hidden;
    }
}   
.content-container.full {
    padding: 0;
}

#raven {
    position: relative;
    height: 100%;
    width: fit-content;
    object-fit: contain; /* Ensures no stretching */
    object-position: left center; /* Centers the image */
    left: 0;
    content: url("./img/raven-default1.png");
    z-index: -1;
}
@media screen and (min-height: 1000px) {
    #raven {
        content: url("./img/raven-default2.png");
    }
}
@media screen and (min-height: 2048px) {
    #raven {
        content: url("./img/raven-default4.png");
    }
}

.info {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
    font-size: 25px;
    text-align: center;
    margin: 50px 0;
}

infogrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3px;
    grid-auto-rows: minmax(60px, auto);
}
infogrid > div {
    display: flex;
    background: var(--theme-color1);
    overflow-wrap: break-word;
    mask-image: 
      linear-gradient(
        135deg,
        transparent 3px, 
        #000000 0
      ),
      linear-gradient(
        -135deg,
        transparent 3px, 
        #000000 0
      ),
      linear-gradient(
        45deg,
        transparent 3px, 
        #000000 0
      ),
      linear-gradient(
        -45deg,
        transparent 3px, 
        #000000 0
      );
    mask-size: 80% 80%;
    mask-position: 0% 0, 100% 0, 0 100%, 100% 100%;
    mask-repeat: no-repeat;
}
infogrid > div > div {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
}
infogrid > div > div:not(.box) {
    margin-left: -20px;
}

gridtitle {
    display: block;
    font-variation-settings: 'wght' 650;
    font-weight: 650;
    font-size: 25px;
    line-height: 34px;
    text-align: left;
}
gridsub {
    display: block;
    font-variation-settings: 'wght' 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    margin-top: 2px;
}

.article {
    overflow-y: auto;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    white-space: pre-line;
    font-size: 18px;
    font-variation-settings: 'wght' 300;
    text-align: left;
    padding: 1em 5em 1em 1em;
}
.article p{
    text-indent: 1.5em;
}
.article h1{
    border-bottom: 1px solid var(--theme-color1);
    margin-block-end: 0;
}
.article h2{
    border-bottom: 1px solid var(--theme-color1);
    margin-block-end: 0;
    font-size: 1.4em;
}
@media screen and (max-width: 640px) {
    .article{
        padding-right: 1em;
        margin-bottom: 80px;
    }
}   
.title-mid {
    width: 100%;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    padding-bottom: .6em;
}


.rtl {
    text-align: right !important;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.socials a {
    display: block;
}
.socials a div{
}

.socialbtn {
    padding: 7px;
    background: var(--theme-color1);
    mask-image: 
      linear-gradient(
        135deg,
        transparent 3px, 
        #000000 0
      ),
      linear-gradient(
        -135deg,
        transparent 3px, 
        #000000 0
      ),
      linear-gradient(
        45deg,
        transparent 3px, 
        #000000 0
      ),
      linear-gradient(
        -45deg,
        transparent 3px, 
        #000000 0
      );
    mask-size: 80% 80%;
    mask-position: 0% 0, 100% 0, 0 100%, 100% 100%;
    mask-repeat: no-repeat;
  }
.socialbtn.game {
    background: color-mix(in oklab, var(--theme-color1) 100%, #ffffff 40%);
}